{% if total -%}
  <table class="coverage-total table table-hover">
    <tr>
      {% for hdr in total['headers'] %}<th>{{ hdr }}</th>{% endfor %}
    </tr>
    {% for file in total['files'] -%}
      <tr>
        {% for u in file -%}
          <td>{{ u }}</td>
        {%- endfor %}
      </tr>
    {%- endfor %}
    <tr>
      {% for t in total['total'] -%}
        <th>{{ t }}</th>
      {%- endfor %}
    </tr>
  </table>
{%- endif %}
{% for d in detail -%}
  <strong>{{ d['file'] }}</strong>
  <table class="coverage table table-hover">
    {% for line in d['lines'] %}
      {% if line[1] -%}
      <tr><td{% if line[0] %} class="{{ line[0] }}"{% endif %}><pre>{{ line[1] }}</pre></td></tr>
      {%- else -%}
      <tr><td>&nbsp;</td></tr>
      {%- endif %}
    {% endfor %}
  </table>
{%- endfor %}