/env
/tmp
/config
/hw/.pack
/db
/logs
/keys
/dump.rdb
/.cctpl
/build
/runlib/python/pyhost/CSafeRunner/build
/website.sh
._*
*.*~
*.pyc
*.so
*-my.sh
.DS_Store
railgun.sublime-project
railgun.sublime-workspace
sftp-config.json
