/env
/tmp
/config
/hw/.pack
/hw/.static
/upload
/db
/logs
/keys
/dump.rdb
/.cctpl
/build
/runlib/python/pyhost/CSafeRunner/build
/SafeRunner
/website.sh
/docs/_build
/railgun/website/static/tz
._*
*.*~
*.pyc
*.so
*-my.sh
.DS_Store
railgun.sublime-project
railgun.sublime-workspace
sftp-config.json
