/* Page basic skeleton */
body {
  padding-top: 50px;
}

#wrapper .content {
  padding: 20px 15px;
}

/* Minor tweaks for navibar elements */
.navbar-right .navbar-btn {
  margin-left: 5px;
}

.navbar .userinfo .dropdown-toggle {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

.navbar .userinfo img {
  margin-right: 5px;
}

.navbar .userinfo .dropdown-menu {
  width: 120px;
}

/* The flashed messages bar */
#wrapper .flash-messages {
}

/* styles specialized for forms that occupy the whole page */
#wrapper .content .form-single {
  max-width: 480px;
  padding: 15px;
  margin: 0 auto;
}

.form-single .form-heading {
  margin-bottom: 20px;
}

.form-single button[type=submit] {
  margin-top: 10px;
}

/* Site description at index page for anonymous users */
.content #site-description {
  margin-top: 20px;
}
.content #site-description p {
  padding-top: 10px;
}

/* tweak for index page */
.content-index .hw-heading {
  padding-bottom: 20px;
}

.content-index .hw-languages span {
  padding-right: 5px;
}
