{% extends "admin.html" %}
{%- import "utility.html" as utility with context -%}
{% block subtitle -%}
{{ _('Users') }}
{%- endblock %}
{% block content -%}
  <h3 class="user-heading">
    {{ _('All Users') }}
    <span class="pull-right">
      <a href="{{ url_for('.adduser') }}" class="btn btn-primary">{{ _('Create User') }}</a>
    </span>
  </h3>
  <table class="table table-hover">
    <tr>
      <th>{{ _('Name') }}</th>
      <th>{{ _('Email') }}</th>
      <th>{{ _('Group') }}</th>
      <th>{{ _('Source') }}</th>
      <th>{{ _('Status') }}</th>
      <th class="text-right">{{ _('Action') }}</th>
    </tr>
    {% for user in the_page.items -%}
    <tr>
      <td class="user-name">
        {{ user.name }}
      </td>
      <td class="user-email">
        {{ user.email }}
      </td>
      <td class="user-group">
        {% if user.is_admin -%}
          {{ _('Admin') }}
        {%- else -%}
          {{ _('Ordinary') }}
        {%- endif %}
      </td>
      <td class="user-source">
        {% if user.provider -%}
          {{ user.provider | provider_name }}
        {%- else -%}
          <span class="text-muted">{{ _('Sign up') }}</span>
        {%- endif %}
      </td>
      <td class="user-status">
        {% if user.is_active -%}
          <span class="text-success">{{ _('Active') }}</span>
        {%- else -%}
          <span class="text-danger">{{ _('Disabled') }}</span>
        {%- endif %}
      </td>
      <td class="user-action text-right">
        <a href="{{ url_for('admin.user_edit', name=user.name, next=request.url) }}">
          {{ _("Edit") }}
        </a>
      </td>
    </tr>
    {%- endfor %}
  </table>

  {% if the_page.pages > 1 -%}
  <div class="text-center">
    {{ utility.render_pagination(the_page, request.endpoint, perpage=the_page.per_page) }}
  </div>
  {%- endif %}
{%- endblock %}