{% extends "admin.html" %}
{% block subtitle -%}{{ _('Statistics for %(hw)s', hw=hw.info.name) }}{%- endblock %}
{% block content -%}
  <h3 class="maintain-heading">{{ _('Statistics for %(hw)s', hw=hw.info.name) }}</h3>

  <div class="panel panel-default chart-panel acc-reject-panel">
    <div class="panel-heading">{{ _('Rate of Accepted') }}</div>
    <div class="panel-body">
        <div class="legend-holder">
            <div id="acc-reject-legend"></div>
        </div>
        <canvas id="acc-reject" height="300px"></canvas>
    </div>
  </div>

  <div class="panel panel-default chart-panel reject-brief-panel">
    <div class="panel-heading">{{ _('Reasons for Rejected') }}</div>
    <div class="panel-body">
        <div class="legend-holder">
            <div id="reject-brief-legend"></div>
        </div>
        <canvas id="reject-brief" height="300px"></canvas>
    </div>
  </div>

  <div class="panel panel-default chart-panel dayfreq-panel">
    <div class="panel-heading">{{ _('Everyday Submission') }}</div>
    <div class="panel-body">
        <div class="legend-holder">
            <div id="day-freq-legend"></div>
        </div>
        <canvas id="day-freq" height="300px"></canvas>
    </div>
  </div>

  <div class="panel panel-default chart-panel day-freq-panel">
    <div class="panel-heading">{{ _('Everyday Submitting Users') }}</div>
    <div class="panel-body">
        <div class="legend-holder">
            <div id="day-author-legend"></div>
        </div>
        <canvas id="day-author" height="300px"></canvas>
    </div>
  </div>

  <div class="panel panel-default chart-panel user-submit-panel">
    <div class="panel-heading">{{ _('Submissions Per User') }}</div>
    <div class="panel-body">
        <div class="legend-holder">
            <div id="user-submit-legend"></div>
        </div>
        <canvas id="user-submit" height="300px"></canvas>
    </div>
  </div>

  <div class="panel panel-default chart-panel final-score-panel">
    <div class="panel-heading">{{ _('Final Scores') }}</div>
    <div class="panel-body">
        <div class="legend-holder">
            <div id="final-score-legend"></div>
        </div>
        <canvas id="final-score" height="300px"></canvas>
    </div>
  </div>
{%- endblock %}
{% block tail -%}
    <script type="text/javascript">
        window.chart_data = {{ chart_data | safe }};
        window.chart_i18n = {
            "Accepted": "{{ _('Accepted') }}",
            "Rejected": "{{ _('Rejected') }}",
            "User": "{{ _('User') }}",
            "Count of Users": "{{ _('Count of Users') }}",
            "Final Scores": "{{ _('Final Scores') }}",
        };
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hwcharts.js') }}"></script>
{%- endblock %}