<!DOCTYPE html>
<html lang="{{ pagelng }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>{% block title %}{% block subtitle %}{% endblock %} - {{ _('Railgun') }}{% endblock %}</title>

    <!-- Other -->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap-switch.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/codehilite.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/color/gray.css') }}" media="all" rel="alternate stylesheet" title="gray-theme" type="text/css"/>
    <link href="{{ url_for('static', filename='css/color/green.css') }}" media="all" rel="alternate stylesheet" title="green-theme" type="text/css"/>
    <link href="{{ url_for('static', filename='css/color/magenta.css') }}" media="all" rel="alternate stylesheet" title="magenta-theme" type="text/css"/>
    <link href="{{ url_for('static', filename='css/color/orange.css') }}" media="all" rel="alternate stylesheet" title="orange-theme" type="text/css"/>
    <link href="{{ url_for('static', filename='css/colorpicker.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/datatables.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/datepicker.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/daterange-picker.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <!-- <link href="{{ url_for('static', filename='css/docs.css') }}" media="all" rel="stylesheet" type="text/css"/> -->
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/fullcalendar.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/isotope.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/jquery.fancybox.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/morris.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/pygments.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/se7en-font.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/select2.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/summernote.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/timepicker.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/typeahead.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/wizard.css') }}" media="all" rel="stylesheet" type="text/css"/>

    <!-- Railgun project common css -->
    <!-- <link href="{{ url_for('static', filename='css/railgun.css') }}" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block headScripts %}{% endblock %}
  </head>
  <body>
  <div class="modal-shiftfix">

        <!-- General navigation bar -->
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid top-bar clearfix">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{{ _('Toggle navigation') }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript: void(0);">{{ _('Railgun') }}</a>
        </div>
        <div class="nav">
          <!--
            Navigate links
            TODO: support multi-level navi items
          -->
          <ul class="nav navbar-nav">
            {%- macro show_navi_item(itm) -%}
              {%- if not itm.has_child -%}
              <li{% if itm.is_active %} class="active"{% endif %}>
                <a{%if itm.is_active %} class="current"{% endif %} href="{{ itm.url }}">{{ itm.title }}</a>
              </li>
              {%- else -%}
              <li class="dropdown{% if itm.is_active %} active{% endif %}">
                <a href="{{ itm.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ itm.title }}</a>
                <ul class="dropdown-menu" role="menu">
                  {%- for citm in itm.subitems %}
                  <li role="presentation"{% if citm.is_active %} class="active"{% endif %}>
                    <a role="menuitem" tabindex="-1" href="{{ citm.url }}">{{ citm.title }}</a>
                  </li>
                  {%- endfor %}
                </ul>
              </li>
              {%- endif -%}
            {%- endmacro -%}
            {%- for item in navibar %}
              {{ show_navi_item(item) }}
            {%- endfor %}
          </ul>
          <!-- Logged user info, or signup / signin links -->
          <ul class="nav navbar-nav pull-right">
          {% if current_user.is_authenticated() -%}
            <li class="dropdown user hidden-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{{ current_user | gravatar }}" />
                {{ current_user.name }}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ url_for('profile_edit') }}">
                    <i class="icon-user"></i>
                    {{ _('Edit profile') }}
                  </a>
                </li>
                <li>
                  <a href="{{ url_for('signout') }}">
                    <i class="icon-signout"></i>
                    {{ _('Sign out') }}
                  </a>
                </li>
              </ul>
            </li>
          {%- else -%}
            <a class="btn btn-success navbar-btn" href="{{ url_for('signup') }}">{{ _('Sign up') }}</a>
            <a class="btn btn-default navbar-btn" href="{{ url_for('signin') }}">{{ _('Sign in') }}</a>
          {%- endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    


    <!-- General content area -->
    {% block wrapper -%}
      <div class="container-fluid main-content" id="wrapper">
        <div class="content content-{{ request.endpoint }}">
          <!-- Flashed messages -->
          <div class="flash-messages">
            {% for c, m in get_flashed_messages(with_categories=True) -%}
            <div class="alert alert-{{ c }}">
            <button class="close" data-dismiss="alert" type="button">×</button>
              {{ m }}
            </div>
            {%- endfor %}
          </div>
          {% block content %}{% endblock %}
        </div>
      </div>
    {%- endblock %}<!-- /.container -->
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="{{ url_for('static', filename='js/application.js') }}" type="text/javascript"></script> -->
    <script src="{{ url_for('static', filename='js/bootstrap-colorpicker.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-timepicker.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/datatable-editable.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/date.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/daterange-picker.js') }}" type="text/javascript"></script>
    <!-- <script src="{{ url_for('static', filename='js/docs.js') }}" type="text/javascript"></script> -->
    <script src="{{ url_for('static', filename='js/excanvas.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/fitvids.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/fullcalendar.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/gcal.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.bootstrap.wizard.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.easy-pie-chart.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.inputmask.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.mousewheel.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.sparkline.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.vmap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.vmap.sampledata.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.vmap.world.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/isotope_extras.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/morris.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/raphael.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/respond.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/select2.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/selectivizr-min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/skycons.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/styleswitcher.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/summernote.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/typeahead.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/wysiwyg.js') }}" type="text/javascript"></script>
    {% block tailScripts %}{% endblock %}
  </body>
</html>