<!DOCTYPE html>
<html lang="{{ pagelng }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>{% block title %}{% block subtitle %}{% endblock %} - {{ _('Railgun') }}{% endblock %}</title>

    <!-- Other -->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap-switch.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/codehilite.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/color/gray.css') }}" media="all" rel="alternate stylesheet" title="gray-theme" type="text/css"/>
    <link href="{{ url_for('static', filename='css/color/green.css') }}" media="all" rel="alternate stylesheet" title="green-theme" type="text/css"/>
    <link href="{{ url_for('static', filename='css/color/magenta.css') }}" media="all" rel="alternate stylesheet" title="magenta-theme" type="text/css"/>
    <link href="{{ url_for('static', filename='css/color/orange.css') }}" media="all" rel="alternate stylesheet" title="orange-theme" type="text/css"/>
    <link href="{{ url_for('static', filename='css/colorpicker.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/datatables.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/datepicker.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/daterange-picker.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <!-- <link href="{{ url_for('static', filename='css/docs.css') }}" media="all" rel="stylesheet" type="text/css"/> -->
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/fullcalendar.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/isotope.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/jquery.fancybox.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/morris.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/pygments.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/se7en-font.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/select2.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/summernote.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/timepicker.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/typeahead.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/wizard.css') }}" media="all" rel="stylesheet" type="text/css"/>

    <!-- Railgun project common css -->
    <!-- <link href="{{ url_for('static', filename='css/railgun.css') }}" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block headScripts %}{% endblock %}
  </head>
  <body>
  <div class="modal-shiftfix">
    <!-- Navigation -->
      <div class="navbar navbar-fixed-top scroll-hide">
        <div class="container-fluid top-bar">
          <div class="pull-right">
            <ul class="nav navbar-nav pull-right">

              <li class="dropdown notifications hidden-xs">

                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-flag"></span>
                  <div class="sr-only">
                      通知
                  </div>
                  <p class="counter">
                    4
                  </p>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">
                    <div class="notifications label label-info">
                        新
                    </div>
                    <p>
                        新加入用户：王晓
                    </p></a>
                    
                  </li>
                  <li><a href="#">
                    <div class="notifications label label-info">
                        新
                    </div>
                    <p>
                        销售目标
                    </p></a>
                    
                  </li>
                  <li><a href="#">
                    <div class="notifications label label-info">
                        新
                    </div>
                    <p>
                        新性能指标
                    </p></a>
                    
                  </li>
                  <li><a href="#">
                    <div class="notifications label label-info">
                        新
                    </div>
                    <p>
                        提供新的经济增长数据
                    </p></a>
                    
                  </li>
                </ul>
              </li>
              <li class="dropdown messages hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-envelope"></span>
                  <div class="sr-only">
                         消息
                  </div>
                  <p class="counter">
                    3
                  </p>
                </a>
                <ul class="dropdown-menu messages">
                  <li><a href="#">
                    <img width="34" height="34" src="{{ url_for('static', filename='images/avatar-male2.png') }}"/>我们可以见面吗？我想...</a>
                  </li>
                  <li><a href="#">
                    <img width="34" height="34" src="{{ url_for('static', filename='images/avatar-female.png') }}" />重要的数据需要分析...</a>
                  </li>
                  <li><a href="#">
                    <img width="34" height="34" src="{{ url_for('static', filename='images/avatar-male2.png') }}"/>Se7en是一款不错的主题。</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown settings hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-gear"></span>
                  <div class="sr-only">
                         设置
                  </div>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="settings-link blue" href="javascript:chooseStyle('none', 30)"><span></span>蓝色</a>
                  </li>
                  <li>
                    <a class="settings-link green" href="javascript:chooseStyle('green-theme', 30)"><span></span>绿色</a>
                  </li>
                  <li>
                    <a class="settings-link orange" href="javascript:chooseStyle('orange-theme', 30)"><span></span>橘黄色</a>
                  </li>
                  <li>
                    <a class="settings-link magenta" href="javascript:chooseStyle('magenta-theme', 30)"><span></span>品红</a>
                  </li>
                  <li>
                    <a class="settings-link gray" href="javascript:chooseStyle('gray-theme', 30)"><span></span>灰色</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown user hidden-xs"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img width="34" height="34" src="{{ url_for('static', filename='images/avatar-male.jpg') }}" />管理员<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">
                    <i class="icon-user"></i>我的账户</a>
                  </li>
                  <li><a href="#">
                    <i class="icon-gear"></i>账户设置</a>
                  </li>
                  <li><a href="login1.html">
                    <i class="icon-signout"></i>退出</a>
                  </li>
                </ul>
              </li>              
            </ul>
          </div>
          <button class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="logo" href="index.html">se7en</a>
          <form class="navbar-form form-inline col-lg-2 hidden-xs">
            <input class="form-control" placeholder="搜索" type="text">            
          </form>
        </div>
        <div class="container-fluid main-nav clearfix">
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <a class="current" href="/"><span aria-hidden="true" class="se7en-home"></span>控制台</a>
              </li>
              <li><a href="social.html">
                <span aria-hidden="true" class="se7en-feed"></span>社交订阅</a>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-star"></span>特色<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="buttons.html">按钮</a>
                  </li>
                  <li>
                    <a href="fontawesome.html">Font Awesome Icons</a>
                  </li>
                  <li><a href="glyphicons.html">
                    <span class="notifications label label-warning">新</span>
                    <p>
                      Glyphicons
                    </p></a>
                    
                  </li>
                  <li>
                    <a href="components.html">组件</a>
                  </li>
                  <li>
                    <a href="widgets.html">小工具</a>
                  </li>
                  <li>
                    <a href="typo.html">排版</a>
                  </li>
                  <li>
                    <a href="grid.html">栅格</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-forms"></span>表单<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="form-components.html">
                    <span class="notifications label label-warning">新</span>
                    <p>
                        表格组件
                    </p></a>
                    
                  </li>
                  <li>
                    <a href="form-advanced.html">高级形式</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-tables"></span>表格<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="tables.html">基本表格</a>
                  </li>
                  <li>
                    <a href="datatables.html">数据表格</a>
                  </li>
                  <li><a href="datatables-editable.html">
                    <div class="notifications label label-warning">
                        新
                    </div>
                    <p>
                        编辑数据表格
                    </p></a>
                    
                  </li>
                </ul>
              </li>
              <li><a href="charts.html">
                <span aria-hidden="true" class="se7en-charts"></span>图表</a>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-pages"></span>页面<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="chat.html">
                    <span class="notifications label label-warning">新</span>
                    <p>
                        图表
                    </p></a>
                  </li>
                  <li>
                    <a href="calendar.html">日历</a>
                  </li>
                  <li><a href="timeline.html">
                    <span class="notifications label label-warning">新</span>
                    <p>
                             时间轴
                    </p></a>
                    
                  </li>
                  <li><a href="login1.html">
                    <span class="notifications label label-warning">新</span>
                    <p>
                          登录(1)
                    </p></a>
                    
                  </li>
                  <li>
                    <a href="login2.html">登录(2)</a>
                  </li>
                  <li><a href="signup1.html">
                    <span class="notifications label label-warning">新</span>
                    <p>
                          注册(1)
                    </p></a>
                    
                  </li>
                  <li>
                    <a href="signup2.html">注册(2)</a>
                  </li>
                  <li><a href="invoice.html">
                    <span class="notifications label label-warning">新</span>
                    <p>
                          订单
                    </p></a>
                    
                  </li>
                  <li><a href="faq.html">
                    <span class="notifications label label-warning">新</span>
                    <p>
                      FAQ
                    </p></a>
                    
                  </li>
                  <li>
                    <a href="filters.html">筛选结果</a>
                  </li>
                  <li>
                    <a href="404-page.html">404页面</a>
                  </li>
                </ul>
              </li>
              <li><a href="gallery.html">
                <span aria-hidden="true" class="se7en-gallery"></span>相册</a>
              </li>
              <li><a href="docs/index.html" target="_blank">
                  <span aria-hidden="true" class="se7en-doc"></span>帮助文档</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Navigation -->


    <!-- General content area -->
    {% block wrapper -%}
      <div class="container-fluid main-content" id="wrapper">
        <div class="content content-{{ request.endpoint }}">
          <!-- Flashed messages -->
          <div class="flash-messages">
            {% for c, m in get_flashed_messages(with_categories=True) -%}
            <div class="flash flash-{{ c }} panel panel-{{ c }}">
              <div class="panel-heading">{{ m }}</div>
            </div>
            {%- endfor %}
          </div>
          {% block content %}{% endblock %}
        </div>
      </div>
    {%- endblock %}<!-- /.container -->
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="{{ url_for('static', filename='js/application.js') }}" type="text/javascript"></script> -->
    <script src="{{ url_for('static', filename='js/bootstrap-colorpicker.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-timepicker.js') }}" type="text/javascript"></script>
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script> -->
    <script src="{{ url_for('static', filename='js/datatable-editable.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/date.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/daterange-picker.js') }}" type="text/javascript"></script>
    <!-- <script src="{{ url_for('static', filename='js/docs.js') }}" type="text/javascript"></script> -->
    <script src="{{ url_for('static', filename='js/excanvas.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/fitvids.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/fullcalendar.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/gcal.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.bootstrap.wizard.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.easy-pie-chart.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.inputmask.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.mousewheel.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.sparkline.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.vmap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.vmap.sampledata.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.vmap.world.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/isotope_extras.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/morris.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/raphael.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/respond.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/select2.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/selectivizr-min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/skycons.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/styleswitcher.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/summernote.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/typeahead.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/wysiwyg.js') }}" type="text/javascript"></script>
    {% block tailScripts %}{% endblock %}
  </body>
</html>