{% extends "base.html" %}
{% import "utility.html" as utility %}
{% block subtitle -%}
{{ _('Join Railgun') }}
{%- endblock %}
{% block content -%}
<form role="form" class="form-profile form-single" method="POST" action="{{ url_for('profile_edit') }}">
  <h2 class="form-heading">{{ _('Edit Profile') }}</h2>
  <div class="form-group">
    <label for="name">{{ _('Username') }}</label>
    <input type="text" disabled="1" value="{{ username }}" class="form-control" />
  </div>
  {{ utility.form_group(form.email) }}
  {{ utility.form_group(form.password, _('Use at least seven characters')) }}
  {{ utility.form_group(form.confirm) }}
  <button type="submit" class="btn btn-success">{{ _('Save profile') }}</button>
  {{ form.hidden_tag() }}
</form>
{%- endblock %}