{% extends "admin.html" %}
{% import "utility.html" as utility %}
{% block subtitle -%}
{{ _('Sign up for the Vote') }}
{%- endblock %}
{% block content -%}
<form role="form" class="form-edit_vote" method="POST" action="{{ url_for('vote_signup') }}" enctype="multipart/form-data">
  <h2 class="form-heading">{{ _('Sign up for the Vote') }}</h2>
  <div class="vote-logo">
    {%- if obj['logo_file'] -%}
      <img src="{{ url_for('vote_static', filename=obj['logo_file']) }}" />
    {%- endif -%}
  </div>
  {{ utility.form_group(form.logo) }}
  {{ utility.form_group(form.project_name) }}
  {{ utility.form_group(form.group_name) }}
  {{ utility.form_group(form.description) }}
  <div class="buttons">
    <button type="submit" class="btn btn-success">{{ _('Save Project') }}</button>
  </div>
  {{ form.hidden_tag() }}
</form>
{%- endblock %}